<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="URL" value="https://demo.sprint.troquefacil.com.br"/>
    <add key ="PATHPROJECT" value="\Send4\bin\Debug"/>
    <add key ="PATHDRIVERBROWSER" value="\bin\Debug"/>
    <add key ="PEDIDO" value="318"/>
    <add key ="EMAIL" value="tester@send4.com.br"/>
    <add key ="NOMEPRODUTOUM" value="Camiseta Send4Lovers"/>
    <add key ="NOMEPRODUTODOIS" value="Produto Teste 4"/>
    <add key ="ACAO" value="Trocar"/>
    <add key ="MOTIVOS" value="Defeito de troca"/>
    <add key ="COMOPODEMOSRESOLVER" value="Me devolvendo o dinheiro ou um novo produto"/>
    <add key ="ENDERECOPRINCIPAL" value="Rua João Dembinski, 3246 - Cidade Industrial - PR - (casa)"/>
    <add key ="LOJASFISICAS" value="Loja 3,Loja 1"/>
    <add key ="OUTROSMETODOS" value="Agência do Correios"/>
    <add key ="ENDERECOLOJA3" value="Rua João Dembinski, 3246 - Cidade Industrial - PR"/>
    <add key ="ENDERECOLOJA1" value="Rua Marquês do Paraná, x - Água Verde - PR"/>
    <add key ="ENDERECOALTERNATIVO" value="Agência do Correios"/>
    <add key ="ENDERECONOVO" value="Rua Peru, 515 - Nações - PR - (casa 3)"/>
    <add key ="CEPNOVO" value="83823-080"/>
    <add key ="NUMERONOVOCEP" value="515"/>
    <add key ="COMPLEMENTONOVOCEP" value="casa 3"/>
    <add key ="NOMECLIENTE" value="Tester Send4"/>
    <add key ="TELEFONECLIENTE" value="(41) 99999-9999"/>
    <add key ="DOCUMENTOCLIENTE" value="156.358.460-33"/>
    <add key ="COMENTARIO1" value="Não gostei do meu atendimento."/>
    <add key ="COMENTARIO2" value="Achei meu atendimento aceitável."/>
    <add key ="COMENTARIO3" value="Achei meu atendimento excelente."/>
    <add key ="MENSAGEMENVIOAVALIACAO" value="Avaliação realizada com sucesso!"/>
  </appSettings>
</configuration>